<%-include('header')-%>
<%-include('navbar')-%>

<div class="container">
<table class="table table-hover my-5">
    <tr>
        <th><center>Profile</center></th>
        <td></td>
    </tr>
    <tr>
        <th>Username</th>
        <td><%=user.username%></td>
    </tr>
    <tr>
        <th>Email</th>
        <td><%=user.email%></td>
    </tr>

</table>
</div>
<%-include('footer')-%>